

.wra{
    margin: 4vw auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
    .ContactBox{
        width: 80%;
        margin:2vw auto;
        gap:1vw;
        height:40vw;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1{
            font-size: 1.2vw;
            margin:0 ;
            color:gray;
            font-weight: 500;
            
        }
        h2{
            font-size: 4vw;
            margin:0 ;
            font-weight: 700;
            color: rgb(0, 0, 0);
        }
            .ContactButton{
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 2vw;
                border: .1vw solid grey;
                margin-top: 2vw;
                height: 5vw;
                border-radius: 2vw;
                width:30vw;
                padding:0 1vw;
                a{
                    color: black;
                    .email{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .5vw;
                        font-size: 1.2vw;
                            transition:all 100ms ease-in;
                        .circle1,.circle2{
                            height:1.8vw;
                            width:1.8vw;
                            background-size: cover;
                            background-position: center;
                            /* background-color: black; */
                        }
                        .circle1{
                            background-image: url("../../assests/Mail.svg");
    
                        }
                        .circle2{
                            height: 1.7vw;
                            width: 1.7vw;
                            background-image: url("../../assests/ld.svg");
                            
                        }
                        p{
                            font-size: 1.2vw;
                            transition:all 100ms ease-in;
                        }
                        
                    }
                    .email:hover{
                        cursor: pointer;
                            color: gray;
                            transform: translateY(-.2vw); 
                            text-decoration-color: gray; 
                    }
                }
            
            }
        
    
    }
   
}

