.home{
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    .hnavbar{
        display: flex;
        width: 90%;
        margin: 3vw auto;
        justify-content: space-between;
        align-items: center;
       .text{
        font-size: 2vw;
        font-weight: 500;
        
        }
    }
    .main{
        height: 30vw;
        width: 80%;
        margin: 3vw auto;
        display: flex;
        justify-content: space-evenly;
        gap: 3vw;
        align-items: center;

        .image{
            height: 28vw;
            width:28vw;
            background-image: url('../../assests/Dp1.jpg');
            background-size: cover;
            background-position: 60%;
            border-radius: 50%;
        }
        .fields{
            height: 20vw;
            width:28vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 3vw;
            .text{
                display: flex;
                flex-direction: column;
                align-items: center;
                h1{
                    font-size: 1.2vw ;
                    font-weight: 500;
                    color: gray;
                    margin-bottom: 1vw;
                }
                h2{
                    font-size: 4vw ;
                    font-weight:700 ;
                    margin: 0;
    
    
                }
                h3{
                    font-size: 1.4vw ;
                    font-weight: 600;
                    margin: 0;
                    color: black;
    
                }
            }
            .buttongrp{
                display: flex;
                gap:1vw;
            }
            .socials{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1vw;
                .ld,.gh{
                    height: 2.5vw;
                    width: 2.5vw;
                    border-radius: 0%;
                    background-color: rgb(255, 255, 255);
                    transition: all 100ms ease-in-out;
                }
                .ld{
                    background-image: url('../../assests/ld.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
                .gh{
                    background-image: url('../../assests/Gh.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                .ld:hover,.gh:hover{
                    cursor: pointer;
                    transform: translateY(-.2vw);
                }
            }
            

        }
    }
}