.navbar{
    display: flex;
    width : 40%;
    font-size: 1.6vw;
    font-weight: 400;
    justify-content: space-between;
    .item1,.item2,.item3,.item4{
        color:black;
        transition: all 100ms ease-in;
    }
    .item1:hover,.item2:hover,.item3:hover,.item4:hover{
        cursor: pointer;
        color: gray;
        text-decoration: underline;
        text-underline-offset: 1vw; /* Adjust the value as needed */
        text-decoration-color: gray;
        transform: translateY(-.3vw);
    }
    

}