* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: rgb(32, 32, 32);
    color: white;
    font-family: "Poppins", sans-serif;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(50, 50, 95);
    overflow:hidden;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav ul li {
    list-style: none;
    margin: 0 23px;
  } 

  nav ul li a{
    text-decoration: none;
    color:white;
  }

  nav ul li a:hover{
    color:rgb(153, 153, 226);
    font-size:1.09rem;
  }

  .left {
    font-size: 1.5rem;
    cursor:pointer;
  }

  .left:hover{
    font-size:1.8rem;
    color:rgb(153, 153, 226);
  }

  .firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 140px 0;
  }

  .firstsection > div {
    width: 30%;
  }

  .leftsection {
    font-size: 2.5rem;
  }

  .rightsection img {
    width: 80%;
    margin: 50px 0;
  }

  .purple {
    color: rgb(170, 110, 226);
  }

  #element{
    color:rgb(170, 110, 226);
  }

  h1{
  color:rgb(64, 64, 121);
  display: flex;
  justify-content: center;
 }

  .secondSection{
    height:500px;
    background-color: white;
  }

  .skill-png {
    display: flex;        
    justify-content: space-evenly;
    align-items: center;
    margin-top:70px;
    margin-bottom:50px;
  }

  .pics{
    margin:  0;
    height:100px;
  }
  
  .pics:hover{
    cursor:pointer;
    opacity: 20%;
  }
  
  .skill-section{
    background-color: rgb(255, 255, 255);
  }

  .skill-header{
    color:rgb(12, 26, 69);
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .skillheader-text{
    font-size:40px;
    margin-top:50px;
  }

  .skill-txt{
    text-align: center;
    color:black;
    font-size:30px;
    font-weight:bold;
    overflow: hidden;
  }

  .edu{
    font-size:40px;
    color:rgb(64, 64, 121);
  }

  .education-txt{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top:50px;
  }

  .r-education img{
    vertical-align: middle;
    width:400px;
    cursor:pointer;
    border-radius:20%;
  }

  hr{
    margin: 1rem 0;
    color: white;
    opacity: 100;
    size: 100cm;
  }

  .l-education{    
    padding: 1.5em;
    font-size:17px;
  }

  .edc{
    display: flex;
    justify-content: space-around;
    padding: 2em;
  }

  .skilling{
    padding: 1em;
  }

  .card img{
    height:200px;
    width:300px;
    object-fit: cover;
    cursor:pointer;
    margin-top:30px;
    margin-left: 74px;
  }

  #project{
    background: rgb(32, 32, 32);

  }

  #project h2{
    font-size:40px;
    color:rgb(64, 64, 121);
    text-align:center;
    margin:2rem 0;
  }

  .project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    gap:2rem;
  }

  .grid-item{
    display: grid;
    place-items: center;
    text-align: center;
  }

  .card{
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius:0.5rem;
    margin-right: 150px;
  }

  .card-content p{
    color:rgb(149, 149, 167);
    width:130%;
    text-align:center;
    padding:15px;
  }

  .card-content h3{
    font-size:20px;
    color:gray;
    margin:20px 0;
    text-align: center;
    margin-left:140px;
  }

  .card a{
    background-color: #333;
    color:white;
    text-decoration: none;
    display: inline-block;
    padding:5px 10px;
  }

  footer{
    background-color: #111;
  }

  .footerContainer{
    width:100%;
    padding: 70px 30px 20px;
  }

  .footerContainer h2{
    font-size: 40px;
    font-weight: lighter;
    color:lavender;
    text-align: center;
  }

  .socialIcons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .socialIcons a{
    text-decoration: none;
    padding:10px;
    background-color: white;
    margin: 10px;
    border-radius:50% ;
  }

  .socialIcons a i{
    font-size: 2em;
    color:black;
    opacity:0.9;
  }

  .socialIcons a:hover{
    background-color: #111;
    opacity: 0.9;
    transition: 0.2s;
  }

  .socialIcons a:hover i{
    color:white;
    transition: 0.2s;
  }

  .footerBottom p{
    color:lavender;
    margin-top:30px;
    text-align: center;
  }

  #project hr{
    margin-top: 70px;
    width:100%;
  }

  .hamburger{
    font-size:1rem;
    color:white;
    cursor:pointer;
  }

  .hamburger:hover{
    font-size: 1.2rem;
    color:rgb(153, 153, 226);
    cursor:pointer;
  }

  .nav-toggle{
    display:none;
  }
