

.super{
    display: flex;
    flex-direction: column;
    height: 25vw;
    width: 100%;
    .field2,.field1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: .1vw solid grey;
        width: 40vw;
        height:auto;
        margin: auto;
        border-radius:2vw ;
        padding: .4vw;
        .title{
            font-weight: 700;
            font-size:1.5vw;
            margin:auto;
            margin-bottom: 1vw;
        }
        transition: all 300ms ease-in-out;
    }
    .field1{
        height: 13vw;
    }
    .field2{
        height: 7.2vw;
    }
     .field1:hover,.field2:hover{
    transform: scale(1.06);
    } 

}